@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.icon {
	transform: scale(3) !important;
}

.item {
	width: 100%;
	/* background-color: lightgray; */
	margin-right: 2px;
	height: 5px;
}
